<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side by Side</title>
	<link rel="stylesheet" href="/stylesheets/global.css">
	<link rel="stylesheet" href="/stylesheets/categories.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
  	<script type="text/javascript" src="/javascripts/jquery.autocomplete.min.js"></script>
	<script type="text/javascript" src="/javascripts/customer_search.js"></script>
	<script type="text/javascript" src="/javascripts/categories.js"></script>
</head>

<body>
	<div id="main">
		<div id="header">
			<a href="/homepage"><img src="/images/sidebysidelogo_header.svg" alt=""></a>
			<div id="header_options">
				<a href="" class="user_element"><img id="user_icon" src="/images/user168.svg" alt="">    <%= name %></a>
				<a href="logout" class="user_element"><img id="logout_icon" src="/images/logout21.svg" alt=""></a>
			</div>
		</div>	
		
		<div id="content">
			<h1><%= plan_name %></h1>
			<div class="element" id ="submit_button" onclick="addSelect(this)">
				<button type="submit" id="submit_categories" class="btn btn-default" onclick="getCategories()">Submit categories</button>	
			</div>
			<h3>Choose the categories your new business will belong to</h3>
			<div id="search_container">
				<div class="search_item">
					<img class="search_bar_element" id="search_icon" src="/images/search100.svg" alt="">
					<form class="search_bar_element"><input type="text" name="category_names" placeholder="Search for a Category" class="biginput" id="autocomplete" autocomplete="on"></form>
				</div>
			</div>
			<div id="selected_options">
				<p id="selected_options_text"></p>
			</div>
			<div id="category_options">
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/fishchips.svg" alt="">
					<br>
					<p>Fish & Chips</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/fondue.svg" alt="">
					<br>
					<p>Fondue</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/french.svg" alt="">
					<br>
					<p>French</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/deli.svg" alt="">
					<br>
					<p>Delis</p>
					<br>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/sandwich.svg" alt="">
					<br>
					<p>Sandwiches</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/coffeeshop.svg" alt="">
					<br>
					<p>Coffeeshops</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/hotdog.svg" alt="">
					<br>
					<p>Hot Dogs</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Filipino</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/gastropub.svg" alt="">
					<br>
					<p>Gastropubs</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/soup.svg" alt="">
					<br>
					<p>Soup</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/asianfusion.svg" alt="">
					<br>
					<p>Asian Fusion</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Belgian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Dim Sum</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/diner.svg" alt="">
					<br>
					<p>Diners</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/fastfood.svg" alt="">
					<br>
					<p>Fast Food</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/thai.svg" alt="">
					<br>
					<p>Thai</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Malaysian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Pita</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>African</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Pakistani</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/hookahbar.png" alt="">
					<br>
					<p>Hookah Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/brewery.svg" alt="">
					<br>
					<p>Breweries</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>American (New)</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/dance.svg" alt="">
					<br>
					<p>Dance Clubs</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Gelato</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Korean</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Indonesian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/local.svg" alt="">
					<br>
					<p>Local Flavor</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Oriental</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Bagels</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/champagne.svg" alt="">
					<br>
					<p>Champagne Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/sushi.svg" alt="">
					<br>
					<p>Sushi Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/glutenfree.png" alt="">
					<br>
					<p>Gluten-Free</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Ethiopian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/wine.svg" alt="">
					<br>
					<p>Wine Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/coffeetea.svg" alt="">
					<br>
					<p>Coffee & Tea</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/bars.svg" alt="">
					<br>
					<p>Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Persian/Iranian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Mongolian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/international.svg" alt="">
					<br>
					<p>International</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/tapas.png" alt="">
					<br>
					<p>Tapas Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/americannew.png" alt="">
					<br>
					<p>American (Traditional)</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/cafe.svg" alt="">
					<br>
					<p>Cafes</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/icecream.svg" alt="">
					<br>
					<p>Ice Cream & Frozen Yogurt</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/bbq.svg" alt="">
					<br>
					<p>Barbeque</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/caribbean.svg" alt="">
					<br>
					<p>Caribbean</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/spanish.svg" alt="">
					<br>
					<p>Spanish</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/britain.svg" alt="">
					<br>
					<p>British</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/bakery1.svg" alt="">
					<br>
					<p>Bakeries</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Mediterranean</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Hawaiian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Irish Pub</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/nightlife.svg" alt="">
					<br>
					<p>Nightlife</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/mexican.svg" alt="">
					<br>
					<p>Mexican</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/texmex.svg" alt="">
					<br>
					<p>Tex-Mex</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/vegetarian.svg" alt="">
					<br>
					<p>Vegetarian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Shanghainese</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/irish.svg" alt="">
					<br>
					<p>Irish</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Cafeteria</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/bakery.svg" alt="">
					<br>
					<p>Desserts</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Cocktail Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Cheesesteaks</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Vegan</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Ramen</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/salad.svg" alt="">
					<br>
					<p>Salad</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/cupcake.svg" alt="">
					<br>
					<p>Cupcakes</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Turkish</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/tearoom.svg" alt="">
					<br>
					<p>Tea Rooms</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/indian.svg" alt="">
					<br>
					<p>Italian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>German</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/beerbar.svg" alt="">
					<br>
					<p>Beer Bar</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Russian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/chickenwings.svg" alt="">
					<br>
					<p>Chicken Wings</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Peruvian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Ethnic Food</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Bistros</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/greek.svg" alt="">
					<br>
					<p>Greek</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Szechuan</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Kebab</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/donut.svg" alt="">
					<br>
					<p>Donuts</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Vietnamese</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Soul Food</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Lounges</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/burger.svg" alt="">
					<br>
					<p>Burgers</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Falafel</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Swiss Food</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Middle Eastern</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/comfort.svg" alt="">
					<br>
					<p>Comfort Food</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Halal</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/restaurant.svg" alt="">
					<br>
					<p>Restaurants</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/pizza.svg" alt="">
					<br>
					<p>Pizza</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/pasta.svg" alt="">
					<br>
					<p>Pasta Shops</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/buffet.svg" alt="">
					<br>
					<p>Buffets</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Dive Bars</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/seafood.svg" alt="">
					<br>
					<p>Seafood</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/japan.svg" alt="">
					<br>
					<p>Japanese</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/steakhouse.svg" alt="">
					<br>
					<p>Steakhouses</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/speciality.svg" alt="">
					<br>
					<p>Specialty Food</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/indian.svg" alt="">
					<br>
					<p>Indian</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Breakfast & Brunch</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/pretzel.svg" alt="">
					<br>
					<p>Pretzels</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Moroccan</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Creperies</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/chinese.svg" alt="">
					<br>
					<p>Chinese</p>
				</div>
				<div class="element" onclick="addSelect(this)">
					<br>
					<img src="/images/placeholder.svg" alt="">
					<br>
					<p>Lebanese</p>
				</div>
			</div>
		</div>
		
		<div id="footer"></div>
	</div>
</body>
</html>
