<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Side by Side</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/register.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
  <div id="main">
    <div id="header">
      <a href="/"><img src="/images/sidebysidelogo_header.svg" alt=""></a>
      <a href="/welcome" id="header_register">Existing user? Log in here</a>
    </div>  
    <div id="content">
      <div id="center_container"> 
        <h1 id="register">Register</h1>
        <form action="register" method="post" class="form-horizontal">
            <div class="form-group name_box">
              <div class="col-sm-10">
                <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
              </div>
            </div>

            <div class="form-group name_box">
              <div class="col-sm-10">
                <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
              </div>
            </div>

          <div class="form-group email_box">
            <% if (message == "username already exists") { %>
            <p class="error_message">Username already exists. Please try with another username</p>
            <% } %>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
              </div>
          </div>

            <div class="password_box form-group">
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
            </div>

          <div class="form-group">
             <div class="col-sm-10">
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone Number (Format:XXXXXXXXXX)" pattern="\d{10}" title="Phone Number (Format:XXXXXXXXXX)" required>
              </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign Up</button>
              </div>
          </div>

        </form>

      </div>
    </div>
    <div id="footer"></div>
  </div>
</body>
</html>