<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side by Side</title>
	<link rel="stylesheet" href="/stylesheets/global.css">
	<link rel="stylesheet" href="/stylesheets/homepage.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body background="/images/background.jpg">
	<div id="main">
		<div id="header"></div>	
		<div id="content">
			<div id="center_container">
				<img src="/images/sidebysidelogo.svg" alt="">
				<div id="buttons">
					<div class="btn-group btn-group-lg option" role="group">
						<a href="/"><button type="button" class="btn btn-default">Customer</button></a>
					</div>
					<div class="btn-group btn-group-lg option" role="group">
						<a href="/welcome"><button type="button" class="btn btn-default">Business Owner</button></a>
					</div>
				</div>
			</div>

			
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>