#center_container{
	position: fixed;
	top: 45%;
	left: 46%;
	margin-top: -50px;
	margin-left: -210px;
	width: 500px;
	height: 300px;
}

h1 {
	padding-bottom: 15px;
}

p {
	font-weight: lighter!important;
	font-size: 14pt;
	padding-bottom: 10px;
}

#qrcode {
	max-width: 100px;
	width: 100px;
	max-height: 100px;
	height: 100px;
	background-color: red;
}
