#center_container{
	position: fixed;
	top: 30%;
	left: 46%;
	margin-top: -50px;
	margin-left: -210px;
	width: 500px;
	height: 300px;
}

h1 {
	padding-bottom: 15px;
}

.form-group img{
	width: 200px;
	height: 200px;
}

